@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;700;800&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'Harukase';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../public/fonts/Harukaze.ttf") format("truetype");
}


@font-face {
  font-family: 'Hiromisake';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../public/fonts/HIROMISAKE.ttf") format("truetype");
}

@theme {
  /* Judo Academy Colors */
  --color-judo-blue-50: #e0eaf5;
  --color-judo-blue-100: #bed5ea;
  --color-judo-blue-200: #94b9df;
  --color-judo-blue-300: #6ca0d4;
  --color-judo-blue-400: #4986c7;
  --color-judo-blue-500: #296dbb;
  --color-judo-blue-600: #0055a4;
  --color-judo-blue-700: #00448a;
  --color-judo-blue-800: #00366f;
  --color-judo-blue-900: #002855;
  
  --color-judo-red: #ef3340;
  
  --font-display: "Outfit", "sans-serif";
  --font-body: "Inter", "sans-serif";
  --font-harukaze: "Harukaze", cursive;
}

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}
